body {
  overflow-x: hidden;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.jumbotron {
  overflow-x: hidden;
  padding-top: 6rem;
  background-color: aqua;
}
#galeri {
  background-color: aqua;
}
section {
  padding-top: 5rem;
}
